body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.downsized {
  width: 80%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 40px;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  width: 398px;
  vertical-align: top;
}

.gutter {
  display: inline-block;
  width: 5%;
}

/*added position: relative*/
.main {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

.wishbone {
  left: 404px;
  top: 285px;
  position: absolute;
  transform: rotate(32deg);
}

.heart {
  right: 443px;
  top: 336px;
  position: absolute;
  transform: rotate(325deg);
}

.breadbasket {
  position: absolute;
  bottom: 100px;
  left: 431px;
  transform: rotate(-15deg);
}

.butterflies {
  position: absolute;
  top: 409px;
  right: 388px;
  transform: rotate(15deg);
}
